src/test/resource/XsdSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CUSTOMER">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="ID"/>
        <xs:element type="xs:string" name="FIRSTNAME"/>
        <xs:element type="xs:string" name="LASTNAME"/>
        <xs:element type="xs:string" name="STREET"/>
        <xs:element type="xs:string" name="CITY"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>